.content {
  width: 1190px;
  margin: auto;
  .btm-cont {
    color: #222;
    padding-top: 40px;
    overflow: hidden;
    h3 {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 8px;
      font-weight: bold;
    }
    .btm-left {
      .comment {
        .com-cont {
          .list {
            overflow: hidden;
            padding: 30px 0 0;
            .header {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              float: left;
              img {
                border-radius: 50%;
                display: block;
                width: 100%;
                height: 100%;
              }
            }
            .info {
              .reply {
                font-size: 14px;
                color: #31bbac;
                padding-top: 12px;
              }
              float: left;
              padding-left: 20px;
              width: 828px;
              .name {
                font-size: 16px;
                color: #222;
                line-height: 22px;
                margin-bottom: 1px;
              }
              .date {
                font-size: 12px;
                line-height: 20px;
                color: #999;
                span {
                  float: right;
                }
              }
              .source {
                line-height: 14px;
                margin-top: 3px;
                height: 16px;
                font-size: 11px;
                .star-cont {
                  display: inline-block;
                  width: 84px;
                  height: 24px;
                  position: relative;
                  .stars-ul {
                    list-style: none;
                    padding: 0;
                    text-align: left;
                    margin: 0;
                    white-space: nowrap;
                    color: #c3c3c3;
                    li {
                      margin: 0 !important;
                      border: 0 !important;
                      padding: 0 2px;
                      display: inline-block;
                    }
                  }
                  .stars-light {
                    color: #f90;
                    position: absolute;
                    top: 0;
                    overflow: hidden;
                  }
                }
              }
              .desc {
                font-size: 14px;
                line-height: 20px;
                padding-top: 13px;
              }
              .line {
                height: 1px;
                overflow: hidden;
                border-bottom: 1px solid #e5e5e5;
              }
              .like-cont {
                text-align: right;
                margin: 17px 0 16px;
                .like {
                  display: inline-block;
                  cursor: pointer;
                  font-size: 12px;
                  color: #666;
                  b {
                    background-image: url(http://s0.meituan.net/bs/file/?f=meis/meishi.web:assets/a9850ffbcbd6b5e6.png@53635fc);
                    background-size: 100% 100%;
                    width: 15px;
                    height: 16px;
                    display: inline-block;
                    margin-right: 6px;
                    vertical-align: text-bottom;
                  }
                  span {
                    vertical-align: middle;
                  }
                }
              }
            }
          }
          .sea {
            margin-top: 22px;
            font-size: 14px;
            span {
              display: inline-block;
              line-height: 20px;
              cursor: pointer;
              b {
                width: 15px;
                height: 15px;
                border-radius: 2px;
                border: 1px solid #ccc;
                display: inline-block;
                vertical-align: text-bottom;
                margin-right: 6px;
              }
            }
          }
          margin-top: 8px;
          background: #fff;
          border: 1px solid #e5e5e5;
          border-radius: 4px;
          padding: 0 20px 40px;
          color: #666;
          .tags {
            padding-top: 15px;
            overflow: hidden;
            li {
              float: left;
              font-size: 16px;
              line-height: 34px;
              padding: 0 10px;
              border: 1px solid #e5e5e5;
              border-radius: 2px;
              margin: 0 10px 10px 0;
              cursor: pointer;
              list-style: none;
            }
          }
        }
        margin-bottom: 40px;
        .total {
          font-size: 20px;
          line-height: 26px;
          .sort {
            cursor: pointer;
            float: right;
            font-size: 12px;
            color: #999;
            span {
              font-size: 12px;
              margin-left: 20px;
            }
            .on {
              color: #00c9b3;
            }
          }
        }
        .com-cont {
          margin-top: 8px;
          background: #fff;
          border: 1px solid #e5e5e5;
          border-radius: 4px;
          padding: 0 20px 40px;
          color: #666;
        }
      }

      width: 950px;
      float: left;
      .deal-need-login {
        padding: 30px 0;
        margin-bottom: 40px;
        text-align: center;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        span {
          display: block;
          margin: 10px 0 14px;
          color: #666;
          font-size: 16px;
          line-height: 26px;
        }
        img {
          display: inline-block;
          width: 160px;
          height: 120px;
        }
      }
    }
    // 右侧
    .btm-right {
      width: 230px;
      float: right;
      padding-top: 34px;
      .guess-you-like {
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        background-color: #fff;
        padding: 16px 20px 0;
        h4 {
          font-size: 16px;
          line-height: 22px;
          margin: 0 0 12px;
          color: #333;
        }
        ul {
          a {
            display: block;
            text-decoration: none;
            .pic {
              height: 106px;
              border-radius: 4px;
              .imgbox {
                display: block;
                height: 100%;
                width: 100%;
                background-size: 60% auto;
                img {
                  border-radius: 4px;
                  height: 100%;
                }
              }
            }
            .name {
              font-size: 14px;
              line-height: 20px;
              color: #222;
              margin: 10px 0 4px;
            }
            .desc {
              font-size: 12px;
              line-height: 17px;
              color: #999;
            }
            .price {
              font-size: 22px;
              color: #f60;
              line-height: 27px;
              b {
                font-weight: 400;
                font-size: 14px;
              }
            }
          }
          li {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

.clear::after {
  content: "";
  display: none;
  visibility: hidden;
  clear: both;
}

.btn.btn-clr-g {
  background-color: #13d1be;
}

.btn {
  padding: 0;
  border-radius: 100px;
  border: none;
  outline: 0;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: background 0.6s ease;
  &.btn-default {
    width: 120px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
  }
}

.imgbox {
  display: block;
  height: 100%;
  width: 100%;

  background: url(http://s0.meituan.net//bs/file/?f=meis/meishi.web:assets/bee61f5f04046d07.png@53635fc)
    center center no-repeat #e0e0e0;
  background-size: 60% auto;
  border-radius: 50%;
}

.com-image-viewer {
  padding-top: 10px;
  position: static;
  background: #fff;
  overflow: hidden;
  cursor: pointer;
  .paginatedThumbnails {
    width: 828px;
    height: 160px;
    position: absolute;
    top: 0;
    left: 0;
    .thumbnails {
      position: relative;
      width: 10000px;
      .thumbnail {
        &.active {
          border-color: #f4f4f4;
          border-radius: 0;
        }
        width: 160px;
        height: 160px;
        margin-right: 0;
        border: 10px solid #fff;
        img {
          width: 140px;
          height: 140px;
        }
      }
    }
  }
  .imgs-content {
    padding-top: 180px;
    position: relative;
    margin: 0;
    width: auto;
  }
}

.content .details {
  font-size: 12px;
  color: #666;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 20px 33px;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  .d-left {
    float: left;
    width: 748px;
    padding-right: 20px;
    .name {
      font-size: 26px;
      line-height: 37px;
      span {
        float: right;
        color: #00c9b3;
        font-size: 12px;
        cursor: pointer;
        b {
          background-image: url(http://s0.meituan.net/bs/file/?f=meis/meishi.web:assets/9180fa934a07d959.png@53635fc);
          width: 15px;
          height: 18px;
          background-size: 100% 100%;
          display: inline-block;
          margin-right: 6px;
          vertical-align: middle;
          margin-top: -3px;
        }
      }
    }
    .score {
      p {
        display: inline-block;
        margin-left: 6px;
        position: absolute;
      }
      font-size: 14px;
      height: 14px;
      margin: 6px 0 17px;
      .star-cont {
        display: inline-block;
        width: 84px;
        height: 24px;
        position: relative;
        .stars-ul {
          list-style: none;
          padding: 0;
          text-align: left;
          margin: 0;
          white-space: nowrap;
          color: #c3c3c3;
          li {
            margin: 0 !important;
            border: 0 !important;
            padding: 0 2px;
            display: inline-block;
          }
        }
        .stars-light {
          color: #f90;
          position: absolute;
          top: 0;
          overflow: hidden;
        }
      }
    }
    .address {
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
      padding: 16px 0 11px;
      p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
      }
    }
    .tags {
      padding-top: 20px;
      overflow: hidden;
    }
    li {
      float: left;
      margin-right: 16px;
      line-height: 17px;
      img {
        margin: auto auto 11px;
        width: 24px;
        height: 24px;
        border-radius: 0;
        display: block;
      }
    }
  }
  .d-right {
    float: left;
    width: 380px;
    overflow: hidden;
    cursor: pointer;
    .big {
      height: 214px;
      width: 100%;
    }
    ul {
      width: 385px;
      padding-top: 20px;
      li {
        float: left;
        width: 92px;
        margin-right: 4px;
        height: 50px;
      }
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }
  }
}
