#poiDetail {
  background: #f8f8f8;
  .site-wrapper-wide {
    background: linear-gradient(180deg, #e6e6e6, #f8f8f8);
    background-size: 100% 20px;
    background-repeat: no-repeat;
    .site-wrapper {
      margin: 0 auto;
      width: 1190px;
      .breadcrumb-nav {
        font-size: 12px;
        color: #666;
        height: 52px;
        line-height: 52px;
        font-weight: 700;
        .breadcrumb-divider {
          margin: 0 5px;
          color: #777;
        }
      }
    }
  }
}

.shadow-bg[data-v-51136ade] {
  position: fixed;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(37, 37, 37, 0.8);
  padding: 35px;
  z-index: 2;
  .mp-container {
    .intro {
      display: inline-block;
      vertical-align: top;
      margin: 23px 44px;
      .left-text:after {
        content: "";
        padding-right: 30px;
      }
      .intro-desc {
        position: relative;
        font-size: 20px;
        line-height: 28px;
        background-color: #f9504c;
        color: #fff;
        padding: 1px 0 1px 20px;
        border-radius: 2px;
        letter-spacing: 18px;
        font-family: PingFangSC-Regular;
      }
      .intro-title {
        font-size: 40px;
        line-height: 40px;
        color: #fff;
        margin-bottom: 13px;
        font-family: PingFangSC-Semibold;
      }
    }
    width: 740px;
    margin: 0 auto;
    .logo {
      width: 120px;
      height: 113px;
      vertical-align: top;
      margin-top: 10px;
    }
  }
  .close-btn {
    position: absolute;
    font-size: 40px;
    font-weight: 100;
    top: -5px;
    right: 5px;
    color: #ddd;
    line-height: 40px;
    border-radius: 40px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
  }
}

.app,
.mp {
  display: inline-block;
}

.app .scan-code,
.mp .scan-code {
  font-size: 12px;
  font-family: PingFangSC-Regular;
  color: #fff;
  margin-bottom: 6px;
  margin-left: 16px;
}

.app .mp-code,
.mp .mp-code {
  border-radius: 2px;
  width: 106px;
  height: 106px;
}

.app {
  margin-left: 20px;
}

.mt10 {
  margin-top: 10px;
}
.bgw {
  background: #fff;
}
.bordered {
  border: 1px solid #e5e5e5;
}
.border-radius4 {
  border-radius: 4px;
}
.nav-tabs {
  height: 63px;
  box-shadow: none;
  transition: none;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 20px;
  li {
    float: left;
    text-align: center;
    margin: 0 25px;
    &:first-child {
      margin-left: 0;
    }
    &.current a {
      color: #13d1be;
      text-decoration: none;
      border-bottom: 2px solid #13d1be;
    }
    a {
      position: relative;
      display: block;
      color: #666;
      text-decoration: none;
      font-size: 16px;
      line-height: 62px;
    }
  }
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.deal-list-box {
  padding-top: 15px;
  border-top: 0;
}

.filter-box {
  vertical-align: middle;
  display: inline-block;
  height: 55px;
  .kong {
    margin: 0 20px;
  }
}

.deal-section {
  margin: 0 20px;
  .deal-item {
    padding-top: 30px;
    overflow: hidden;
  }
}

.deal-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

.bor-top {
  border-top: 1px solid #e5e5e5;
}

.pull-left {
  float: left;
}
.relative {
  position: relative;
}

.deal-img.has-img img {
  width: 128px;
  height: 80px;
}

.deal-img:hover .deal-img-icon-plus {
  display: block;
  cursor: pointer;
}

.deal-img-icon-plus {
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background-size: cover;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  display: none;
  &.iconfont {
    font-size: 20px !important;
    color: #cccccc;
    &::before {
      position: relative;
      top: 5px;
      left: 10px;
    }
  }
}

.border-raiuds-2 {
  border-radius: 2px;
}

.deal-img-number {
  position: absolute;
  right: 5px;
  bottom: 8px;
  width: 30px;
  height: 18px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: lighter;
  font-size: 12px;
  line-height: 18px;
}

.pull-right {
  float: right;
}

.deal-section .see-more-goods {
  padding-top: 5px;
}
.fw3 {
  font-weight: 500;
}
.fs12 {
  font-size: 12px;
}

.fs18 {
  font-size: 18px;
}

.see-more-goods {
  span {
    margin: 0 10px;
  }
  div {
    display: inline-block;
    color: #13d1be;
  }
}

.hotel-service-info {
  width: 600px;
  line-height: 24px;
}
.deal-margin-left {
  margin-left: 143px;
}

.deal-cellname {
  font-weight: 700;
  display: inline-block;
}
.mb15 {
  margin-bottom: 15px;
}
.hotel-service-info > div.deal-cell-baseinfo {
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  height: 20px;
  font-size: 12px;
}

.hotel-service-info .deal-detail-spliter {
  line-height: 20px;
}
.mr20 {
  margin-right: 20px;
}
.pull-left {
  float: left;
}
.fs12 {
  font-size: 12px;
}

.fc15 {
  color: #151515;
}

.fc9 {
  color: #999;
}

.hotel-service-info .deal-detail-spliter:before {
  content: " ";
  display: inline-block;
  border-left: 1px solid #cacaca;
  height: 10px;
  padding-right: 20px;
}

.deal-cell-baseinfo li:first-child .deal-detail-spliter:before {
  display: none;
}

.deal-margin-left {
  margin-left: 143px;
}

.deal-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

.deal-section .deal-margin-left > .deal-table-show {
  height: 68px;
}

.deal-table tr {
  height: 68px;
  border-top: 1px dotted #e5e5e5;
}

.block {
  display: block !important;
}

.deal-table td {
  display: table-cell;
  vertical-align: middle;
  height: 68px;
}

.deal-section .deal-item .goods .deal-cellname {
  max-width: 164px;
  padding-left: 5px;
}

.deal-label {
  margin-left: 5px;
  border-radius: 2px;
  padding: 0 2px;
  font-size: 11px;
  border: 1px solid #adafb2;
  color: #adafb2;
}

.show-detail {
  width: 110px;
  float: right;
}

.deal-btn:active,
.show-detail:active {
  background-color: #f90;
  border-color: #f90;
}
.deal-btn:hover,
.show-detail:hover {
  background-color: #cc7a00;
  border-color: #cc7a00;
}

.deal-btn,
.show-detail {
  background-color: #f90;
  border-color: #f90;
}
.deal-btn,
.deal-btn-disabled,
.show-detail {
  font-size: 14px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  line-height: 2.15;
  padding: 0 18px;
  letter-spacing: 0.1em;
  text-align: center;
  border-radius: 2.15em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: 1px solid;
  outline: 0;
  transition: all 0.3s ease;
}

.deal-section .deal-table-useInfo {
  color: #13d1be;
  cursor: pointer;
}

.bor-bottom-dotted {
  padding-bottom: 2px;
  cursor: pointer;
}
.bor-bottom-dotted {
  border-bottom: 1px dotted #333;
}