.banner-container {
    width: 1190px;
    margin: 0 auto;
    position: relative;

    .left-banner {
        float: left;

        .category-nav-container {
            width: 230px;
            height: 475px;
            position: relative;
            text-align: left;
            box-sizing: border-box;
            float: left;
            margin-top: -50px;
            color: #646464;
            background: #FFF;
            box-sizing: border-box;
            border: 1px solid #E5E5E5;

            .category-nav-title-wrapper {
                height: 50px;
                padding-top: 15px;
                box-sizing: border-box;
                .category-nav-title {
                    color: #222222;
                    font-size: 16px;
                    font-weight: 700;
                    margin-left: 15px;
                }
            }
        }
    }

    .right-banner {
        float: left;
        margin-left: 10px;
        margin-top: 10px;
        position: relative;
    }
}